.contain {
  padding-top: 20px;
  width: 250px;
}
:where(
    .css-dev-only-do-not-override-apn68
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-apn68).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.ant-menu .ant-menu-item .ant-menu-item-icon {
  font-size: 25px;
}
:where(.css-dev-only-do-not-override-apn68).ant-menu
  .ant-menu-item
  .ant-menu-item-icon,
:where(.css-dev-only-do-not-override-apn68).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon,
:where(.css-dev-only-do-not-override-apn68).ant-menu .ant-menu-item .anticon,
:where(.css-dev-only-do-not-override-apn68).ant-menu
  .ant-menu-submenu-title
  .anticon {
  min-width: 25px;
  font-size: 25px;
  transition: font-size 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s;
}
