doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="./register.css")
    body 
        .container 
            .register
                .register-imagelogo
                    img.register-imglogo(src="https://plus.unsplash.com/premium_photo-1675644727129-9e2fbc03c500?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="vleaning")
            .register
                .from-rigister
                    h1 Đăng ký và bắt đầu học
                    form(action)
                        .form-group
                            label(for="fullname") Tên đầy đủ
                            input#fullname(type="text", placeholder="Nhập tên đầy đủ")
                        .form-group
                            label(for="email") Email
                            input#email(type="email", placeholder="Nhập email")
                        .form-group
                            label(for="password") Mật khẩu
                            input#password(type="password", placeholder="Nhập mật khẩu")
                        .form-group1
                            input#newsletter(type="checkbox")
                            label(for="newsletter") Gửi cho tôi các ưu đãi đặc biệt, đề xuất cá nhân hóa và bí quyết học tập.
                        .button
                            button(type="submit") Đăng ký
                        p.bosung Bằng việc đăng ký, bạn đồng ý với Điều khoản sử dụng và Chính sách về quyền riêng tư.
                        p.dangnhap Bạn đã có tài khoản chưa? 
                            a(href="#") Đăng nhập
        script(src="./register.js") 