doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="./baitap//main.css")
    body 
        .container
            .menu  
                .dashboard
                    .dashboard-item 
                        a.dashboard-logo(href="/") 
                            img.logo(srcSet="./baitap/img/dashboard.png", alt="")
                        a.dashboard-chucnang(href="#") Dashboard
                    .dashboard-item 
                        a.dashboard-logo(href="/") 
                            img.logo(srcSet="./baitap/img/cells.png", alt="")
                        a.dashboard-chucnang(href="#") Tables
                    .dashboard-item 
                        a.dashboard-logo(href="/") 
                            img.logo(srcSet="./baitap/img/bill.png", alt="")
                        a.dashboard-chucnang(href="#") Billing
                    .dashboard-item 
                        a.dashboard-logo(href="/") 
                            img.logo(srcSet="./baitap/img/finish.png", alt="")
                        a.dashboard-chucnang(href="#") RTL
                h6  ACCOUNT PAGES
                .account    
                    .account-item 
                        a.account-logo(href="/") 
                            img.logo(srcSet="./baitap/img/user.png", alt="")
                        a.account-chucnang(href="#") Profile
                    .account-item 
                        a.account-logo(href="/") 
                            img.logo(srcSet="./baitap/img/logout.png", alt="")
                        a.account-chucnang(href="#") Sign In
                    .account-item 
                        a.account-logo(href="/") 
                            img.logo(srcSet="./baitap/img/writing.png", alt="")
                        a.account-chucnang(href="#") Sign UP
                .Documentation
                    .Documentation-logo
                        .Documentation-img
                            img.logo(srcSet="./baitap/img/dashboard2.png", alt="")
                        
                    .Documentation-content 
                        H4 Need Helps? 
                        h6 Please check our docs                        
                    .Documentation-button
                        a(href="#").Documentation-button Documentation                        
            .thongtin
                .thongtin-lists
                    .thongtin-list 
                        .thongtin-title  
                            .thongtin-sale Today's Sales
                            .thongtin-gia   $53,000 
                                .thongtin-phantram +30%                       
                        .thongtin-image
                            img.thongtin-img(srcSet="./baitap/img/money.png", alt="")
                    .thongtin-list 
                        .thongtin-title  
                            .thongtin-sale Today's Users
                            .thongtin-gia  3,200
                                .thongtin-phantram +20%                 
                        .thongtin-image
                            img.thongtin-img(srcSet="./baitap/img/group.png", alt="")
                    .thongtin-list 
                        .thongtin-title  
                            .thongtin-sale New Clients
                            .thongtin-gia   +1,200 
                                .thongtin-phantram +10%                       
                        .thongtin-image
                            img.thongtin-img(srcSet="./baitap/img/heart.png", alt="")
                    .thongtin-list 
                        .thongtin-title  
                            .thongtin-sale New Orders
                            .thongtin-gia   $13,200 
                                .thongtin-phantram +10%                       
                        .thongtin-image
                            img.thongtin-img(srcSet="./baitap/img/shopping-bag.png", alt="")
                .thongtin-tables 
                    .thongtin-table1
                        .table-left-top
                            .table-left-top-img
                                img.table-img(srcSet="./baitap/img/1.png", alt="")  
                        .table-left-center 
                            h5 Active Users
                            .table-left-center-active
                                .table-time than last week
                                .table-phantram +30%
                            .table-left-center-tittle
                                span We have created multiple options for you to put togerther and customise into pixel perfect pages
                        .table-left-bottom
                            .table-left-bottom-user 
                                .table-left-bottom-user-top 3.6K
                                .table-left-bottom-user-bottom Users
                            .table-left-bottom-click 
                                .table-left-bottom-click-top 2m
                                .table-left-bottom-click-bottom Clicks
                            .table-left-bottom-sales
                                .table-left-bottom-sales-top $772
                                .table-left-bottom-sales-bottom Sales
                            .table-left-bottom-item
                                .table-left-bottom-item-top 82
                                .table-left-bottom-item-bottom Items
                    .thongtin-table2
                        .Active-users
                            h5 Active Users
                            .Active-users-time
                                .Active-users-time1 than last week
                                .Active-users-phantram +30%
                        .table-right-bottom
                            .table-right-bottom-imgage
                                img.table-right-bottom-img(src="./baitap/img/img1.png", alt="")
                .projects 
                    .projects-list 
                        .projects1 
                            .projects1-top 
                            h5 Projects
                            .projects1-top-center
                                .project-time done this month
                                .project-phantram +40%
                            .project-table
                            
                        .orders-history 
                            .projects1-top 
                                h5 Oders History
                            .projects1-top-center
                                .project-time this month
                                .project-phantram +20%


        .footer     
            .footer-container 
                .footer-top 
                    .footer-columns
                        .footer-column
                            a.footer-logo(href="/") 
                                img(srcSet ="./img/logo1.png", alt="Airtrav")
                            p.footer-decs Lorem ipsum dolor sit amet consectetur, adipisicing elit. A dolores optio enim. numquam aut sequi autem inventore.
                            form.subscribe(action="" autocomplete)
                                input(type="email" placeholder="Enter Your Email").subscribe-email 
                                button.subscribe-button(type="submit")
                                    img(srcSet="./baitap/img/line1.png", alt="")
                        .footer-column
                            h4.footer-heading Services
                            ul.footer-links 
                                each val in ["Trip Planner","Tour Planning","Tour Guide","Tour Package","Tour  advice"]
                                    li.footer-item
                                        a.footer-link(href="#")=val
                        .footer-column
                            h4.footer-heading Services
                            ul.footer-links 
                                each val in ["Trip Planner","Tour Planning"," Tour Guide","Tour Package","Tour advice"]
                                    li.footer-item
                                        a.footer-link(href="#")=val
                        .footer-column
                            h4.footer-heading Services
                            ul.footer-links 
                                each val in ["Trip Planner","Tour Planning","Tour Guide","Tour Package","Tour  advice"]
                                    li.footer-item
                                        a.footer-link(href="#")=val
                .footer-bottom 
                    .footer-copyright Copyright@ 2024 UHUU LLC. ALL Right 
                    .footer-icon
                        .footer-item
                            a.footer-fb(href="https://web.facebook.com/tranduylong0201")
                                    img(src="./img/fb.png", alt="Facebock")
                            a.footer-ig(href="https://www.instagram.com/llongg.02/?hl=en")
                                    img(src="./img/insta.png", alt="Instagram")
                            a.footer-in(href="https://web.facebook.com/tranduylong0201")
                                    img(src="./img/in.png", alt="Diệu")
                            a.footer-tw(href="https://web.facebook.com/tranduylong0201")
                                    img(src="./img/tw.png", alt="Lan")                
                                    

                        


